body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #251801;
    cursor:url(/assets/EyesFollow/cursor.png),auto;

}

.container-fluid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face:hover {
    background: linear-gradient(180deg, #f44336, #ffcd00);
}

.face::before {
    content: '';
    position: absolute;
    top: 180px;
    width: 150px;
    height: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: #b57700;
    transition: 0.5s;
}

.face:hover::before {
    top: 210px;
    width: 150px;
    height: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #9d0b00;
}

.container-fluid .face .eyes {
    position: relative;
    display: flex;
    top: -40px;
    flex-wrap: wrap;
}

.container-fluid .face .eyes .eye {
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 15px;
    background-color: white;
    border-radius: 50%;
}

.container-fluid .face .eyes .eye::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 50px;
    background: #333;
    border-radius: 50%;
}