/* Entire footer */
.jumbotron-fluid {
  background-color: #FBF6F3;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.jumbotron-fluid h6{
  font-size: 14px;
}

.jumbotron-fluid a{
  color: black;
}

.jumbotron-fluid a:hover {
  text-decoration: none;
}
