html {
  scroll-behavior: smooth;
}

/* All containers */
.container-fluid {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  background-color: #f6f5f0;
margin:0;
}

.container-fluid h1 {
  font-size: 46px;
}

.container-fluid h3 {
  font-size: 40px;
}

.container-fluid h5 {
  font-size: 26px;
}

.container-fluid h6 {
  font-size: 22px;
}

.container-fluid p {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}
.container-fluid a {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.card{
  border-radius: 0 !important;
}

/* Button to view project */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
a.btn {
  text-decoration: none;
  background: #c39e9e;
  color: rgb(255, 250, 250);
  padding: 10px 20px;
  border: 1px solid #c39e9e;
  border-radius: 25px;
}

a.btn:hover {
  text-decoration: none;
  background: rgb(255, 250, 250);
  color: #c39e9e;
  padding: 10px 20px;
  border: 1px solid #c39e9e;
  border-radius: 25px;
}
