.container-fluid {
  background-color: RGB(230, 231, 232);
  padding: 30px 62px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Chivo', sans-serif;
  color: black;
}

h1 {
  margin-top: 7px;
  font-size: 36px;
  font-weight: bold;
}

p {
  font-size: 18px;
  line-height: 1.8em;
}

/* Button to view project */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
a.btn {
  text-decoration: none;
  /* background: rgb(212, 175, 55);
  color: white; */
  background: #d4af37;
  color: rgb(255, 250, 250);
  padding: 10px 20px;
  border: 1px solid #d4af37;
  border-radius: 25px;
}

a.btn:hover {
  text-decoration: none;
  background: rgb(255, 250, 250);
  color: #d4af37;
  padding: 10px 20px;
  border: 1px solid #d4af37;
  border-radius: 25px;
}

/* Makes the card image of the same height */
.card-img-top {
  height: 15vw;
  object-fit: cover;
}

/* Makes card the same height */
.card {
  border-radius: 10px;
  height: 100%;
}
