html {
  scroll-behavior: smooth;
}

header{
  position: top;
  top: 0;
  width:100%;
}

nav {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  border-bottom: 1px solid rgb(220, 220, 220);
  background-color: #f6f5f0;
}

.nav-link, .nav-link:hover  {
  font-weight: bold;
  color: #1d1d1e;
}

.nav-link:after {   
  position: relative; 
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #c39e9e;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after { 
  width: 100%; 
  left: 0; 
}

.nav-item{
    padding:0 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color:rgb(0, 26, 39);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}