nav {
  border-bottom: 1px solid rgb(220, 220, 220);
  background-color: black;
}

.nav-link {
  font-family: "Roboto", Arial, Tahoma, sans-serif;
  font-size: 14px;
  color: white;
}

.nav-item{
    padding:0 10px;
}
