html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Chivo', sans-serif;
}

.container-fluid.answers, .container-fluid.input, label {
  color: white;
  font-weight: bold;
}

.jumbotron-fluid {
  background-image: url(../img/QuadraticFormulaSolver/background.png);
  color: white;
}

.jumbotron-fluid .content{
padding-top:100px;
padding-bottom:100px;
}

.card,.container-fluid{
  background-color: #131313;
}

input, select{
  width:100%
}

input[type=text],input[type=number], select{
  height:50px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  font-family: 'Poppins', Arial, serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 100%;
  background-color: #0cb4ce;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: transparent;
  color: #0cb4ce;
  border: 1px solid #0cb4ce;
}

textarea{
  resize: none;
}