nav {
  background-color: black;
}

.nav-link {
  margin-bottom: 5px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

#NavBar {
  margin-top: 15px;
}

.nav-link:last-child {
  color: white;
}

/* 
nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}


.nav-item::before,
.nav-item::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

.nav-item::before{
	top: 0;
	transform-origin: left;
}

.nav-item::after{
	bottom: 0;
	transform-origin: right;
} */

.nav-link,
.nav-link:hover {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.nav-link {
  position: relative;
}

.nav-link:before {
    content: '';
    width: 0;
    height: 2px;
    bottom: 0;
     left: 0;
    display: block;
    background: #ff1801;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
  display: block;
  background: #ff1801;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover::before {
  visibility: visible;
  width: 100%;
}
.nav-link:hover:after {
  visibility: visible;
  width: 100%;
}
